DirectoryIndex /home/index.html

# Common Redirects to tickets page
Redirect 301 /ticket /tickets
Redirect 301 /shop /tickets
Redirect 301 /buy /tickets
Redirect 301 /attend /tickets
Redirect 301 /purchase /tickets
Redirect 302 /tickets https://www.engsoc.queensu.ca/product/qsc-delegate/

# Redirecting to sponsor package (change when sponsor page built)
Redirect 301 /sponsor https://qsconference.ca/Sponsorship%20Package.pdf
Redirect 301 /sponsors https://qsconference.ca/Sponsorship%20Package.pdf
Redirect 301 /sponsorship https://qsconference.ca/Sponsorship%20Package.pdf

# Common Redirects to about page
Redirect 301 /about https://qsconference.ca/about-us
Redirect 301 /staff https://qsconference.ca/about-us

Redirect 301 /handbook https://qsconference.ca/Delegate%20Handbook.pdf

# Page not found
ErrorDocument 404 /404.html

# Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
