---
import "../styles/main.scss"
import Layout from "../layouts/Layout.astro";
import Exec from "../components/Exec.astro";
import ExecGroup from "../components/ExecGroup.astro";

const teamImages = await Astro.glob(
    "../images/team/*.{jpg,JPG,jpeg,png,PNG,webp}"
).then((files) => {
    const map = {}
    for (const file of files) {
        const f = file.default
        const name = f.src.split("/").at(-1).split("_")[0]
        map[name] = f 
    }
    return map
});

import placeholder from "../images/qsc_circle_outlined.png"
---

<Layout title="About Us">
    <meta slot="head" name="description" property="og:description" content="The Queen's Space Conference (QSC) is an annual space conference held in Kingston, Ontario. The conference is centered around a series of exciting talks from professionals in the space spector, innovative workshops, and networking opportunities. Come to QSC 2026 on January 17th to learn about all things space." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/about-us">
    <link slot="head" rel="canonical" href="https://qsconference.com/about-us">

    <main slot="content" class="main">
        <section>
            <h1>About Us</h1>
            <p>The Queen's Space Conference is an annual student-run conference that has taken place every year for over a decade. The QSC executive team is comprised of 14 passionate students from different disciplines and backgrounds that come together to provide opportunities for our conference delegates every year. We strive to bring impactful speakers to our conference to deliver enriching presentations and to help students break into the industry by facilitating networking opportunities and connections. Meet our executive team below! If you have questions/inquiries you can click on the email buttons next to the team titles.</p>
        </section>

        <section>
            <h2>&#8212;The Team&#8212;</h2>
            <div class="groups">
                <ExecGroup title="QSC Chairs" email="qsc@engsoc.queensu.ca">
                    <Exec img={teamImages["isabel"]} name="Isabel Wettlaufer-Wang" position="Co-Chair"/>
                    <Exec img={teamImages["sanjana"]} name="Sanjana Sinha" position="Co-Chair"/>
                </ExecGroup>

                <ExecGroup title="Logistics Team" email="qsc.logistics@engsoc.queensu.ca">
                    <Exec img={teamImages["terrance"]} name="Terrance Accardi" position="Logistics Director" />
                    <Exec img={teamImages["grace"]} name="Grace Hamza" position="Logistics Coordinator" />
                </ExecGroup>

                <ExecGroup title="Finance Team" email="qsc.finance@engsoc.queensu.ca">
                    <Exec img={teamImages["sophia"]} name="Sophia Stam" position="Finance Director"/>
                </ExecGroup>

                <ExecGroup title="Sponsorships Team" email="qsc.sponsorships@engsoc.queensu.ca">
                    <Exec img={teamImages["morgan"]} name="Morgan Haviland" position="Sponsorships Director"/>
                    <Exec img={teamImages["charlotte"]} name="Charlotte Orr" position="Sponsorships Coordinator"/>
                </ExecGroup>

                <ExecGroup title="Speakers Team" email="qsc.speakers@engsoc.queensu.ca">
                    <Exec img={teamImages["daisy"]} name="Daisy Grogan" position="Speakers Director"/>
                </ExecGroup>

                <ExecGroup title="Delegates Team" email="qsc.delegates@engsoc.queensu.ca">
                    <Exec img={teamImages["jaron"]} name="Jaron Cyna" position="Delegates Director"/>
                    <Exec img={teamImages["emilio"]} name="Emilio Santos" position="Delegates Director"/>
                </ExecGroup>

                <ExecGroup title="Marketing Team & IT" email="qsc.marketing@engsoc.queensu.ca">
                    <Exec img={teamImages["annmarie"]} name="Annmarie Valookaran" position="Marketing & IT Director"/>
                    <Exec img={teamImages["joshua"]} name="Joshua Santos" position="Marketing Coordinator"/>
                </ExecGroup>

                <!-- <ExecGroup title="IT & Web" email="qsc.it@engsoc.queensu.ca" githubLink="https://github.com/QSC">
                    <Exec img={teamImages["isabel"]} name="Rory Macdonald" position="IT Lead & Webmaster" linkedin="https://www.linkedin.com/in/rory-mac"/>
                </ExecGroup> -->

                <ExecGroup title="First Year Reps">
                    <Exec img={teamImages["lillian"]} name="Lillian Li" position="FYR"/>
                    <Exec img={teamImages["marianna"]} name="Marianna Shumelda" position="FYR"/>
                </ExecGroup>
            </div>
        </section>
    </main>
</Layout>
<style lang="scss">
  @import "../styles/fonts";
  @import "../styles/variables";

  .main {
    background-image: url("../images/spacebg.png");
    background-attachment: fixed;
    background-size: cover;

    h1 {
      color: lighten($dark-purple,2);
      font-size: 5em;
      @media screen and (max-width: $screen-mobile-large) {
        font-size: 4em;
      }
    }

    h2 {
      color: lighten($light-purple,3);
      font-size: 5em;
      text-align: center;
      margin-bottom: .2em;
      @media screen and (max-width: $screen-mobile-large) {
        font-size: 3em;
      }

      @media screen and (max-width: $screen-mobile-medium) {
        font-size: 2.5em;
      }
    }

    .groups {
      display: flex;
      flex-direction: column;
      gap:1.5em;
      padding-bottom: 1em;
    }

    p {
      @media screen and (min-width: $screen-mobile-large) {
        max-width: 75%;
      }
    }

    section:nth-of-type(1) {
      background-color:darken(rgba($light-purple,80%),2);
      padding-inline:2em;
      padding-top:1em;
      padding-bottom: 2em;
    }

    section:nth-of-type(2) {
      background-color: rgba($dark-purple,80%);
    }
  }
</style>