---
import "../styles/main.scss"
import Layout from "../layouts/Layout.astro";
---
<Layout title="Schedule">
    <meta slot="head" name="description" property="og:description" content="Here is the scheduled itinerary for QSC 2024, complete with times and locatios." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/schedule">
    <link slot="head" rel="canonical" href="https://qsconference.com/schedule">

    <main slot="content">
        <section>
            <h1>Schedule & Info</h1>
            <p>Welcome to QSC 2026!</p>
            <p>The conference is taking place on January 17th, 2026, at the Rose Event Commons in Mitchell Hall. It is from 10am to 6:30pm. The address is <strong>69 Union St, Kingston, ON K7L 2N9</strong>, you can <a target="_blank" href="https://maps.app.goo.gl/eqZWx43nD8bzzf4G7">click here</a> to view it in google maps.</p>
            <p>The schedule is as follows:</p>
            <div>
                <img src="../schedule_QSC2026.png"/>
            </div>
            <div class="download-button-container">
                <a href="/schedule_QSC2026.png" download class="download-button">Download Schedule</a>
            </div>
        </section>
    </main>
</Layout>
<style lang="scss">
  @import "../styles/variables";
  @import "../styles/fonts";

  *:has(>img) {
      display:flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }

    img {
      max-width: 50%;
      @media screen and (max-width: $screen-mobile-large) {
        max-width: 100%;
      }
    }

    p {
      padding-block:.5em;
    }

    main {
      background-image: url("../images/painting.jpg");
      background-attachment: fixed;
      background-size: cover;
    }

    section {
      padding-inline:2em;
      padding-top:1em;
      padding-bottom: 2em;
      background-color: rgba($dark-purple, 90%);
    }

    h1 {
      font-size: 5em;
      @media screen and (max-width: $screen-mobile-large) {
        font-size: 4em;
      }
    }

    a {
      color: $orange;
    }

    .discord {
      background-color:cornflowerblue;
      border-radius:20px;
      padding: .8em;
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      display: inline-block;
      margin-bottom: 1em;
    }

    .discord:hover {
      color:$orange;
      background-color: darken(cornflowerblue, 2);
    }

    .download-button-container {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }

    .download-button {
      background-color: $light-purple;
      border-radius: 10px;
      padding: 1em 2em;
      color: $white;
      text-decoration: none;
      font-size: 1.3em;
      font-weight: $medium-weight;
      display: inline-block;
      transition: all 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: darken($light-purple, 5%);
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        color: $white;
      }
    }



    .download-button:active {
      transform: translateY(0);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
</style>