---
import "../styles/main.scss"
import Layout from "../layouts/Layout.astro";
---
<Layout title="Schedule">
    <meta slot="head" name="description" property="og:description" content="Here is the scheduled itinerary for QSC 2024, complete with times and locatios." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/schedule">
    <link slot="head" rel="canonical" href="https://qsconference.com/schedule">

    <main slot="content">
        <section>
            <h1>Schedule & Info</h1>
            <p>Welcome to QSC 2026!</p>
            <p>The conference is taking place on January 17th, 2026, at the Rose Event Commons in Mitchell Hall. It is from 10am to 6:30pm.The address is <strong>69 Union St, Kingston, ON K7L 2N9</strong>, you can <a target="_blank" href="https://maps.app.goo.gl/eqZWx43nD8bzzf4G7">click here</a> to view it in google maps.</p>
            <!-- <div>
                <img src="../2024-sat-schedule.png"/>
                <img src="../2024-sun-schedule.png"/>
            </div> -->
        </section>
    </main>
</Layout>
<style lang="scss">
  @import "../styles/variables";
  @import "../styles/fonts";

  *:has(>img) {
      display:flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }

    img {
      max-width: 50%;
      @media screen and (max-width: $screen-mobile-large) {
        max-width: 100%;
      }
    }

    p {
      padding-block:.5em;
    }

    main {
      background-image: url("../images/painting.jpg");
      background-attachment: fixed;
      background-size: cover;
    }

    section {
      padding-inline:2em;
      padding-top:1em;
      padding-bottom: 2em;
      background-color: rgba($dark-purple, 90%);
    }

    h1 {
      font-size: 5em;
      @media screen and (max-width: $screen-mobile-large) {
        font-size: 4em;
      }
    }

    a {
      color: $orange;
    }

    .discord {
      background-color:cornflowerblue;
      border-radius:20px;
      padding: .8em;
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      display: inline-block;
      margin-bottom: 1em;
    }

    .discord:hover {
      color:$orange;
      background-color: darken(cornflowerblue, 2);
    }
</style>